
.home_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }

.dash{
    width: 80vw;
    display: grid;
    grid-template-rows: repeat(8,5vw);
    grid-template-columns: repeat(6,1fr);
    border: 1px black solid;
    grid-gap: 1rem;
    margin: 1rem 0;
  }

  .dash_img{
    width: 100%;
    height: 100%;
  }

  .image_dash{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fill;
  }
  
  .img1{
    grid-row: 1/span 4;
    grid-column: 1/span 2;
    transition: all .3s ease-out;
    backface-visibility: hidden;
    opacity: .8;


  }
  .img1:hover{
    transform: scale(1.05);
    opacity:1;
    outline-offset: 5px;
  }
  .img2{
    grid-row: 1/span 2;
    grid-column: 3/span 1;
    transition: all .3s ease-out;
    backface-visibility: hidden;
    opacity: .8;

  }
  .img2:hover{
    transform: scale(1.05);
    opacity:1;
    outline-offset: 5px;
  }

  .img3{
    grid-row: 5/span 4;
    grid-column: 1/span 3;
    transition: all .3s ease-out;
    backface-visibility: hidden;
    opacity: .8;

  }
  .img3:hover{
    transform: scale(1.05);
    opacity:1;
    outline-offset: 5px;
  }

  .img4{
    grid-row: 1/span 3;
    grid-column: 4/span 3;
    transition: all .3s ease-out;
    backface-visibility: hidden;
    opacity: .8;

  }
  .img4:hover{
    transform: scale(1.05);
    opacity:1;
    outline-offset: 5px;
  }

  .img5{
    grid-row: 3/span 2;
    grid-column: 3/span 1;
    transition: all .3s ease-out;
    backface-visibility: hidden;
    opacity: .8;

  }
  .img5:hover{
    transform: scale(1.05);
    outline-offset: 5px;
    opacity: 1;
  }
  .img6{
    grid-row: 4/span 5;
    grid-column: 4/span 3;
    transition: all .3s ease-out;
    backface-visibility: hidden;
    opacity: .8;
  }
  .img6:hover{
    transform: scale(1.05);
    opacity:1;
    outline-offset: 5px;
  }

  .info{
    margin: 2rem;
    padding: 1.5rem;
    width: 80vw;
  }


  .grid_info{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 80vw;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0rem;
    padding: 1rem;
  }

  .gridinfo_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .grid_countinfo{
    display: flex;
    width: 300px;
    height: 10vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
  }

  .iconsgrp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
   }

  .icons{
    display: flex;
    width: 300px;
    height: 150px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0.1rem 0.1rem 5px green;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    transition: all .3s; 
}

.icons:hover{
  transform: scale(1.1);
  box-shadow: .3rem .3rem .5rem green;
  cursor: pointer;
}


.iconscontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
}

.restinfo{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem 0;
}

.location_component{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
  }

  .location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 300px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: .1rem .1rem .5rem rgb(151, 148, 148);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .location_img{
    display: block;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    
  }

  .location_img:hover{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transform: scale(0.95);
    transition: all 300ms;
  }

  .info_scroll{
    position: relative;
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }

  .info_scroll::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image:url("https://tse2.mm.bing.net/th?id=OIP.iuhGfvfRBRnDncgSElRm2wHaE8&pid=Api&P=0&w=272&h=181");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .product-img{
    display: block;
    height: 30%;
    width: 40%;
    margin: 1rem;
  }

  .pinfo{
    font-size: large;
    width: 30vw;
  }

  .awards_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
  }
  
  .awards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
  }

  .sub_awards{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 280px;
    height: 350px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: .1rem .1rem .5rem black;
    transition: all .3s;
    backface-visibility: hidden;
  }


  .awards_img{
   
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 1rem;
  }

  .sub_awards:hover{
    box-shadow: .3rem .3rem .5rem black;
    cursor: pointer;
    transform: scale(1.02);
  }

  .title_info{
    width: 80vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
  }


  .slider_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 80vh;
    margin: 1rem 0;
  }


@media (max-width: 850px) {
    .iconsgrp{
        justify-content: center;

    }

    .location{
        width: 300px;
        height: 250px;

    }

    .info_scroll{
        flex-direction: column;
      }
}